.header {
  font-size: 90px;
  color:  rgb(226, 152, 122);
  text-align:center;
  text-shadow: 1px 1px 1px white;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-spacing: 330px;
  margin: 0px 0px;
  padding: 200px;
  
}

.hero-img {
  background-image: url('gymPhoto6.jpeg');
  width: 100%;
  height: 600px;
  
}

.workouts {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0px;
  background-color: black;
}

.workout-img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card {
  box-shadow: 10px 10px 10px 10px rgb(226, 152, 122);
  width: 300px;
  height: auto;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  color: black;
  background-color: white;
}


.card-button{
  position: absolute;
  background-color: darkgreen;
  width: 180px;
  height: 25px;
  bottom: 5px;
}
.completedWorkoutBtn {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 150px;
  height: 60px;
  border-radius: 15px 15px 15px 15px;
  margin: 10px 10px; 
  float: right;
}

.h2{
  color: rgb(226, 152, 122);
  text-shadow: 2px 2px 2px white;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  padding: 30px;
  margin: 0px 0px;
 padding-left: 80px;
}

.completed-page{
  background-color: black;
  margin: 0px;   
}

.completed-workouts{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
}

.completed-card{
  box-shadow: 10px 10px 10px 10px rgb(132, 136, 143);
  width: 300px;
  height: auto;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  color: black;
  background-color: white;
}
.completed-header{
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 1px white;
  color: rgb(132, 136, 143);
  margin-top: 0px;
  text-align: center;
}

.completed-workout-ul {
  margin: 150px;
  display: flex;
  gap: 50px;
}


.buttonToGoHome {
  background-color: red;
  size: 30px;
  display: flex;
  float: right;
  margin: 30px 30px ;
}
