.header {
  font-size: 40px;
  text-align:center;
  color: white;
  background-color:darkgray;
  font-weight: 800;
  margin: 0px 0px;
 padding: 10px;
}

.workouts {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: row wrap;
  padding-left: 8px;
  padding-right: 8px;
}


.chestCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

